<html>
<head>
	<title>Really Awesome Forums</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<div class="header">
		<a href="/" class="link">Really Awesome Forums</a>
		<% if category %>
			<a href="/<%= category %>" class="link">Category: <%= category %></a>
		<% end %>
		<a href="/login" class="link pull-right">Log in / Register</a>
	</div>
	<%= yield %>
	<script type="text/javascript" src="/app.js"></script>
</body>
</html>