<div class="contain">
<h3>Login</h3>
<form>
	<input type="text" placeholder="Username">
	<input type="password" placeholder="Password">
	<button>Login</button>
</form>
<h3>Or Register</h3>
<form>
	<input type="text" placeholder="Username">
	<input type="password" placeholder="Password">
	<input type="email" placeholder="you@domain.com">
	<button>Register</button>
</form>
</div>